* {
	box-sizing: border-box;
  margin-top: 10px;
  
}

head {
  background: img src="https://www.shutterstock.com/image-photo/glasgow-scotland-uk-august-28th-260nw-2195535799.jpg";
  font-color: white;} 

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  font-color: solid black;
    
}
  

body {
	font-family: "Segoe UI", sans-serif;
	font-size: 140%;
	background: #282727;
	line-height: 1.5;
	margin: 5em;
  color: black;
  margin-top:30px;
  margin-bottom:20px
}

h2 {
  color: #E56233;
  margin-left: 100px;
  font-size: 150%;
  margin-top: 1.2rem;
    
}
h4 {
  color: #E56233;
  margin-left: 0px ;
  font-size: 180%
}
sub {
  margin-left: 100px;
  font-size: 110%
}
top {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 90px !important;
  margin: 0px 0px 0px auto !important;
  border: 00px solid #C9C0BB;
  border-radius: 0;
  background: black;
  color:white;
  font-family: "Segoe UI", sans-serif;
  line-height: 0.3;
  font-size:80%;
}

header {
  
  padding: 30px;
  border: 2px solid #C9C0BB;
  border-radius: 500;
  background: white;
  color:white;
  font-family: "Segoe UI", sans-serif;
  font-size: 80%;
  top: 4px;
}

article {
  display:table; 
  vertical-align:top;
  padding: 25px;
  border: 2px solid #A9A69C;
  border-radius: 4px;
  background: white;
  align-self: start;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: 90%;
  width:100%;
  break-inside: avoid-column;
	margin-bottom: 2rem; 
  margin-top: -0.7rem;
    
}


h1 {
    margin-top: 4;
    margin-left: 0;
}

header {
	break-inside: avoid-column;
	margin-bottom: 4rem; 
  border-radius:5px;
  font-size:90%
  
}

main {
	columns: 3;
	column-gap: 30px;
  margin-top: 1em;
  box-sizing: border-box;
}


img  {
  width: 60px;
  height: 60px;
  position: fixed;
  left: 12px;
  top: 12px;
  margin: 0px 0px 0px auto !important;
  border: 4px, solid white;
  object-fit: cover; 
  
  
}
img2 {
  width: 60px;
  height: 60px;
  position: fixed;
  left: 12px;
  top: 12px;
  margin: 0px 0px 0px auto !important;
  border: 2px, solid white;
}


article:hover {
        background-color:#282727;
  
color: white}

article:hover strong {
  color:#E56233;
  
}

header:hover {
  background-color: #282727;
  border: 2px solid white
}
header:hover strong {
  color: #E56233;
}

strong:hover {
        font-color: white;
 
}}

